
#content {
    width: 83%;
    margin-left: 16.5%;
    margin-top: 1%;
    position: absolute;
    top: 80px;
    overflow: hidden;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    font-family: 'Courier New', Courier, monospace sans-serif;
    overflow-y: hidden;
}


.panel{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  border: none;
  box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12);
}
.panel .panel-heading{
  background: #fff;
  padding: 25px 25px 10px;
  border-radius: 0;
}
.panel .panel-heading .title{
  color: #32393f;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}
.panel .panel-heading .btn{
  font-size: 15px;
  padding: 6px 15px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
}

.panel .panel-heading .title span{ font-weight: 700; }
.panel .panel-heading .search-box{ position: relative; }
.panel .panel-heading .search-box i{
  color: #a0a5b1;
  font-size: 13px;
  position: absolute;
  top: 11px;
  left: 15px;
}
.panel .panel-heading .search-box .form-control{
  padding: 0 0 0 40px;
  border-color: #ddd;
  border-radius: 20px;
}
.panel .panel-heading .search-box .form-control:focus{
  border-color: #3FBAE4;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.panel .panel-heading .btn:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.2); }
.panel .panel-body{ border-radius: 0; }
.panel .panel-body .table thead tr th{
  color: #333;
  font-size: 19px;
  font-weight: 400;
  padding: 12px;
}
.panel .panel-body .table thead tr th:last-child{ width: 120px; }
.panel .panel-body .table tbody tr td{
  color: #555;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  vertical-align: middle;
  border-color: #e7e7e7;
}
.panel .panel-body .table .user_icon{
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  border-radius: 100px;
  display: inline-block;
}
.panel .panel-body .table .user_icon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.panel .panel-body .table tbody td span.label{ font-size: 13px; }
.panel .panel-body .table tbody .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.panel .panel-body .table tbody .action-list li{
  margin: 0 3px;
  display: inline-block;
}
.panel .panel-body .table tbody .action-list li a{
  color: #f41127;
  background-color: rgb(244 17 39 / 0.11);
  font-size: 13px;
  border: none;
  transition: all 0.3s ease;
}
#showbtn{
  color: #0d6efd;
  background-color: rgb(13 110 253 / 0.11);
  font-size: 13px;
  border: none;
  transition: all 0.3s ease; 
}

#editbtn{
  color: #faf628;
  background-color: #f0efdcee;
  font-size: 13px;
  border: none;
  transition: all 0.3s ease; 
}
.panel .panel-body .table tbody .action-list li:last-child a{
  color: #f41127;
  background-color: rgb(244 17 39 / 0.11);
  /* background-color: rgb(13 110 253 / 0.11); */

}
.panel .panel-body .table tbody .action-list li a:hover{ box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.panel .panel-footer{
  background-color: #fff;
  padding: 15px 30px 30px;
  border: none;
  
}
.pagination{ margin: 2px; }
.pagination li a{
  color: #999;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  width: 30px;
  height: 30px;
  padding: 8px;
  margin: 12px 12px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
  list-style: none;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
  color: #fff;
  background-color: #286090;
}
.pagination li:first-child a,
.pagination li:last-child a{
  border-radius: 50%;
}
/* @media only screen and (max-width:767px){
  .panel .panel-heading{ text-align: center; }
  .panel .panel-heading .title{ margin: 0 0 15px; }
  .panel .panel-heading .text-right{ text-align: center; }
} */
