

<div class="container">
    
    
            <button class="changeback">Bakc</button>
    <div class="row">
        <div class="col-md-2 bg-info first-block" >
           
            <button class="btn btn-success changeCol" id="btn"(click)="ChangeData()">CLick</button> first Column
        </div>
        <div class="col-md-2 bg-primary">
            second columb
        </div>
        <div class="col-md-2 bg-secondary  test" >
            third column
        </div>
    </div>
</div>



 <div class="container" *ngIf="false">
     <div class="row">
         <div class="col-md-6">

            <div class="card">
                <div class="title">
                   <img class="img-fluid justify-content-center" src="/assets/images/user.png" alt="">
                   <!-- <fa name="user-o" ></fa> -->

                </div>
                <div class="card-body details">
                    <p class="name" > Mahesh </p>
                    <p class="skills">Message, SPA</p>
                    <p class="exp"> 2 years</p>
                    <p class="beauty-name"> Beauty Parlour Name </p>
                    <div  class="track-contents">
                        <fa name="home" class="track-details"></fa>
                        <fa name="phone" class="track-details"></fa>
                        <fa name="envelope-o" class="track-details"></fa>
                    </div>
                    <button class="btn btn-success bookbtn" type="button">
                        Book Applointment
                    </button>
                </div>
            </div>
         </div>
     </div>
 </div>
