
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron bg-secondary  ">
                    <h3 class="display-4 text-center text-primary">
                        <p> Welcome User</p>
                    </h3>
            </div>
        </div>
    </div>

    <section>
        
                <table class="table table-hover  mx-auto w-50 justify-content-center">
                    <tr>
                        <th> UserName : </th>
                        <td> {{myProfile.username}} </td>
                    </tr>
                    <tr>
                        <th> Email : </th>
                        <td> {{myProfile.email}} </td>
                    </tr>
                    <tr>
                        <th> MobileNumber :</th>
                        <td> {{myProfile.mobileNumber}} </td>
                    </tr>

                </table>
            
    </section>
</div>







