  <!-- Page Content  -->
  <div id="content" >
<div class="row">
  <div class="col-md-12">
    <div class="heading">
      <h3 class="jumbotron text-center">welcome Admin</h3>
    </div>
  </div>

</div>

<!-- //cards  -->

<div class="row">
  <div class="col-md-3">
    <div class="card-counter primary">
      <i class="fa fa-user"></i>
      <span class="count-number">150</span>
      <span class="count-name">Users</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter danger">
      <i class="fa fa-home"></i>
      <span class="count-number">25</span>
      <span class="count-name">Beauty Parlours</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter success">
      <i class="fa fa-female"></i>
      <span class="count-number">45</span>
      <span class="count-name">Beauticians</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-code-fork"></i>
      <span class="count-number">12</span>
      <span class="count-name">Name</span>
    </div>
  </div>
</div>


      
     
  
 

    
</div>